@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin margin-below($amount) {
  margin-bottom: #{$amount};
}

@mixin center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERIES

// DESKTOP FIRST - MAX-WIDTH
/*
max-width: 600px; -> is the width <= to 600px? if yes apply these styles
*/

// MOBILE FIRST - MIN-WIDTH
/*
min-width: 600px; -> is the width >= to 600px? if yes apply these styles
*/

// BREAKPOINTS
// * BASIC - width of one popular device only
// * IMPROVED - group most used devices width
// * BEST - do not consider device width - develop based on content -> add breakpoint when design breaksdown at a certain width

// RECOMMENDED BREAKPOINTS
/*
* phone - up to 600px
* tablet portrait - up to 900px
* tablet landscape - up to 1200px
* typical desktop - up to 1800px
* big desktop - all sizes bigger than 1800px
*/

/*
0 - 600px: Phone
600 - 900px: Tablet Portrait
900 - 1200px Tablet Landscape
[1200 - 1800] = normal styles
1200+ Big Desktop

// BREAKPOINT CHOICES

- phone
- tab-port
- tab-land
- big-desktop

ORDER: base, typography - general layout, grid - page layout, components


*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) { // 600px
      @content;
    }
  }
  @if $breakpoint == tab-port { // 900px
    @media (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) { // 1200px
      @content;
    }
  }
  @if $breakpoint == big-desktop { // 1800px
    @media (min-width: 112.5em) {
      @content;
    }
  }
}