$color-primary: #21AC45;
$color-secondary: #FA111C;
$color-tertiary: #f08A5D;
$color-nav-links: #E5E5E5;

$width-button: 150px;

@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin style-link-text($color: #FFF) {
  text-decoration: none;
  text-transform: uppercase;
  color: $color;
}

@function box-img-fit($w, $h) {
  @if ($w > $h) {
    @return 100%;
  } @else {
    @return inherit;
  }
}

* {
  margin: 0;
  padding: 0;
}

nav {
  margin: 30px;
  background-color: $color-primary;

  @include clearfix;
}

.navigation {
  list-style: none;
  float: left;

  li {
    display: inline-block;
    margin-left: 30px;

    &:first-child {
      margin: 0;
    }

    a {
      @include style-link-text($color-nav-links);
    }
  }
}

.buttons {
  float: right;
}

%btn-placeholder {
  padding: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 100px;
  @include style-link-text;
  width: $width-button;
}

.btn-main {
  &:link {
    @extend %btn-placeholder;
    background-color: $color-secondary;
  }

  &:hover {
    color: lighten($color-secondary, 6%);
    background-color: lighten($color-secondary, 28%);
  }
}

.btn-hot {
  &:link {
    @extend %btn-placeholder;
    background-color: $color-tertiary;
  }

  &:hover {
    color: lighten($color-tertiary, 6%);
    background-color: lighten($color-tertiary, 28%);
  }
}

main {
  margin: 30px;

  section {
    .titles {
      @include clearfix;
    }

    h1 {
      color: $color-secondary;
      float:left;
    }

    h2 {
      color: $color-tertiary;
      float: right;
    }
  }
}

.image-box {
  width: 500px;
  height: 700px;

  img {
    width: box-img-fit(500, 700);
  }
}


